{% extends 'base_generic.html' %}
{% load custom_filters %}
{% block content %}
<h2>Edit Record in {{ table_name }}</h2>

<form method="post">
    {% csrf_token %}
    {% for field in record|get_meta_fields %}
    {% if field.name == "id" %}
    <div class="form-group">
        <label for="{{ field.name }}">{{ field.name }}</label>
        <input readonly type="text" class="form-control" id="{{ field.name }}" name="{{ field.name }}" value="{{ record|getattr_custom:field.name }}">
    </div>
    
    {%else%}
        <div class="form-group">
            <label for="{{ field.name }}">{{ field.name }}</label>
            <input type="text" class="form-control" id="{{ field.name }}" name="{{ field.name }}" value="{{ record|getattr_custom:field.name }}">
        </div>
        {%endif%}
    {% endfor %}
    <button type="submit" class="btn btn-primary">Update</button>
</form>

{% endblock %}
